.container {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}

header {
    width: 100%;
    padding: 52px 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_text {
    font-style: medium;
    font-size: 24px;
    font-weight: 500;
    color: #758BFD;
    display: inline-block;
}

.news {
    color: #27187F;
}

.services {
    margin: 0 50px;
}

.search_div {
    width: 17%;
    border: 3px solid #27187F;
    border-radius: 10px;
    display: flex;
    justify-content: end;

}

.fa-magnifying-glass {

    padding: 5px;
    font-size: 39px;
    color: #758BFD;
    border-radius: 10px;
}

/* company news */
.main_section {
    width: 100%;
    background-color: #DDEAF8;
    padding: 95px 98px 135px 95px;

}


h1 {
    color: #27187F;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
    margin-bottom: 68px;

}

.cards {
    width: 1244px;
    height: 717px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

figure {
    background-color: #FFFFFF;
    width: 30%;
    height: 333px;
    border-radius: 10px;
    padding: 33px 30px;

}


.figure_img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-bottom: 33px;
}

figcapyion {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #133B3A;
}

/* footer */
footer {
    width: 100%;
    background-color: #758BFD;
    padding: 75px 98px;
}

.footer_maindiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;

}

.footer_icondiv {
    height: 102px;
    width: 160px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.contact_info {
    color: #00CAD7;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.mail {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin: 17px 0;
}

.footer_icons {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.footer_divs {
    display: flex;
    flex-direction: column;
    height: 202px;
    justify-content: space-between;
}

.footer_list_title {
    color: #00CAD7;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.footer_list {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}

.paymant_div {
    width: 421px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}